Net "clk_50mhz_i"   			LOC=P129;  
Net "rst_n_i"       			LOC=P85;  
Net "pro_rst_n_i"    			LOC=P88; 						
Net "enter_i"        			LOC=P87;		
Net "mode_i"      			  LOC=P92;
			
Net "col_i<3>"      			LOC=P74;
Net "col_i<2>"      			LOC=P75;
Net "col_i<1>"      			LOC=P77;
Net "col_i<0>"      			LOC=P82;
			
Net "row_o<0>"      			LOC=P76;
Net "row_o<1>"      			LOC=P81;
Net "row_o<2>"      			LOC=P83;
Net "row_o<3>"      			LOC=P86;
			
Net "beep_o"					    LOC=P52;
			
NET "lcd_rs_o"      			LOC = "P51";
NET "lcd_wr_o"      			LOC = "P50";
NET "lcd_en_o"      			LOC = "p44";
			
Net "led_o<3>" 					  LOC=P104;
Net "led_o<2>" 					  LOC=P105;
Net "led_o<1>" 					  LOC=P98;
Net "led_o<0>" 					  LOC=P103;
			
NET "lcd_data_o[0]" 		    LOC = "p43";
NET "lcd_data_o[1]" 		    LOC = "p39";
NET "lcd_data_o[2]" 		    LOC = "p35";
NET "lcd_data_o[3]" 		    LOC = "p34";
NET "lcd_data_o[4]" 		    LOC = "p33";
NET "lcd_data_o[5]" 		    LOC = "p32";
NET "lcd_data_o[6]" 		    LOC = "p31";
NET "lcd_data_o[7]" 		    LOC = "p26";
			
Net "col_i<3>"      			PULLUP;
Net "col_i<2>"      			PULLUP;
Net "col_i<1>"      			PULLUP;
Net "col_i<0>"      			PULLUP;
			




